.link {
  text-decoration: none;
  color: #101828;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  transition: color 0.3s ease, transform 0.3s ease;
}

.link:focus {
  color: #080912;
  transform: scale(1.5);
  outline: none;
}

.link:hover {
  color: #4b56f1;
}

.active {
  color: #371af6 !important;
  font-weight: bold;
}
