.link {
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  transition: color 0.3s ease, transform 0.3s ease;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 15px 31px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link:focus {
  border: 1px solid #f6b83d;
}

.link:hover {
  border: 1px solid #f6b83d;
}

.active {
  border: 1px solid #f6b83d;
}
