@use '../styles/mixins' as *;

.container {
  padding: 0 20px;
  margin: 0 auto;
  @include media(mobile) {
    width: $mobile;
    padding: 0 16px;
  }

  @include media(tablet) {
    width: $tablet;
    padding: 0 32px;
  }

  @include media(desktop) {
    width: $desktop;
    padding: 0 64px;
  }
}
